body{
  color: #6e6e6e;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  font-size: 14px;
}
@font-face {
     font-family: 'Open Sans', sans-serif;
    src: url(../fonts/OpenSans-Regular.ttf);
}

html,body{
  height: 100%;
  width: 100%;
}


/*======================================================
           COMMAN CLASS
  ======================================================*/
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  padding: 0px;
}
p{
  margin: 0px;
}
a {
  color: #6e6e6e;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #231f20;
  text-decoration: none;
}

.text-upp{
    text-transform: uppercase;
}
/*----------------------FONT COLOR CLASSES-------------------------*/

.whiteclr{
  color: #fff !important;
}
.blackclr{
  color: #000 !important;
}
.mauto{
    margin: 0 auto;
}

/*==========       BASIC CLASSES     ==========*/

/* ========================================= */
/* =============SPACE CLASSES============== */
/* ========================================= */
.space5{
  margin-top: 5px;
}
.space10{
  margin-top: 10px;
}
.space15{
  margin-top: 15px;
}
.space20{
  margin-top: 20px;
}
.space25{
  margin-top: 25px;
}
.space30{
  margin-top: 30px;
}
.space40{
  margin-top: 40px;
}
.space50{
  margin-top: 50px !important;
}
.space60{
  margin-top: 60px;
}
.space70{
  margin-top: 70px;
}
.space80{
  margin-top: 80px;
}
.space100{
  margin-top: 100px;
}

/* ========================================= */
/* =============PADDING CLASSES============== */
/* ========================================= */
.pad0{
  padding: 0 !important;
}
.padleft0{
  padding-left: 0px !important;
}
.padright0{
  padding-right: 0px !important;
}
.padtop0{
  padding-top: 0px !important;    
}
.padbottom0{
  padding-bottom: 0px !important;   
}
.padding10{
  padding: 10px !important;
}
.padding15{
  padding: 15px;
}
.padding20{
  padding: 20px !important;
}
.padding25{
  padding: 25px;
}
.padding30{
  padding: 30px !important;
}
.padding50{
  padding: 50px;
}
.padbtm100{
  padding-bottom: 100px;
}
.padbtm80{
  padding-bottom: 80px;
}
.padbtm50{
  padding-bottom: 50px !important;
}
.padbtm20{
  padding-bottom: 20px !important;
}
.padleft25{
  padding-left: 25px !important;
}

/* ========================================= */
/* =============MARGIN CLASSES============== */
/* ========================================= */
.m0{
  margin: 0;
}
.mbtm0{
  margin-bottom: 0px;
}
.mtop0{
  margin-top:0px;
}
.mtop10{
  margin-top:10px;
}
.mbtm10{
  margin-bottom:10px;
}
.mleft20{
  margin-left:20px;
}
.mleft40{
  margin-left:40px;
}
.mleft60{
  margin-left:60px;
}
.mright10{
  margin-right:10px;
}
.mauto img{
  margin: 0px auto !important;
  width: 100%  !important;
}

.mautomargin{
  margin: 0px auto !important;
}

input{
	outline: none !important;
}
button{
	outline: none !important;
}

/*==========================================================================*/

/*========================Start Css=========================================*/


/*=====================================================*/
.top_header {
    background: #4bc2f1;
}
.list_media .fa {
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 7px 0;
    font-size: 18px;
}
 .list_media .fb{
  background:#3b5998;
}
.list_media .twit{
  background:#55acee;
}
 .list_media .inst{
  background:#614E41;
}
.list_login{
  float: right;
}
.list_login li a {
    color: #fff;
    font-size: 21px;
    font-weight: 600;
}
.list_login .fa {
    margin-right: 7px;
}
.list_login li{
  margin-right: 10px;
}
#sel1{
    color: #fff;
    border-radius: 22px;
    height: 35px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f03aa9;
    font-size: 15px;
    margin-right: 5px;
    padding: 10px 25px;
    background: url(../img/arrow.png);
    background-color: #F03AA9;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
    line-height: 12px;
    font-weight: 600;
    text-transform: capitalize;
}
.announce_sec{
  padding: 10px 0;
}
.list_media, .list_login {
    margin-top: 14px;
}
.announce {
    color: #E81D89;
    font-weight: bold;
    font-size: 22px;
    margin-top: 0;
}
.letter_txt{
    color: #2C609C;
    font-size: 15px;
    font-weight: bold;
}
.letter_txt span a{
  color: #F03AA9 ;
  display: inline-block;
}
.nav li a {
    color: #F4A739;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 15px 36px;
}
.navbar {
    margin-bottom: 0;
}
.nav li:hover{
  border-bottom:2px solid #F4A739;
}

.nav .fa{
  font-size: 14px;
    color: #53ba4b;
    text-align: center;
}
.nav {
  margin-top: 50px;
}
 .dropdown-menu li:hover{
  border-bottom: 0px solid transparent;
} 
.cart {
    color: #000 !important;
    line-height: 39px;
}
.banner {
    background: url(../img/bg1.png) no-repeat;
    background-size: cover;
    padding: 40px 0 15px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
    text-align: center;
}
.banner_head {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}
.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #fff;
    content: ">";
}
.breadcrumb li a {
    font-size: 16px;
    color: #fff;
}
footer {
    background: #f5f5f5;
    padding: 50px 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #F4A739;
    color: #fff;
}
.dropdown-menu > li > a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #fff !important;
    white-space: nowrap;
    font-size: 15px !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: transparent;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color:transparent;
    border-color: #337ab7;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.phone > i{

  width: 25px;
    font-size: 20px;
    margin-right: 10px;
    color: #53ba4b;
}
.email  > i {
  width: 25px;
   font-size: 20px;
    margin-right: 10px;
    color: #4bc2f1;
}
.list_foot li {
    padding: 4px 0;
}
.list_foot li a {
    font-size: 15px;
}
.list_foot{
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu_head {
    color: #53ba4b;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
}
.list_home li a {
    color: #f8ac31;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 0;
    display: block;
}
.media1{
  margin-top: 30px;
}
.media a {
    font-size: 15px;
}
.media a:hover{
   font-size: 15px;
  color: #53ba4b;
  display: block;
}
.btn_submit{
  background: #1ABC9C;
  width: 140px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 33px;
}
.form_name {
    border-radius: 0;
    height: 41px;
    margin-bottom: 21px;
}
.sub_haed{
  margin-bottom: 43px;
}
.list_media1{
    margin-left: 40px;
}
.foot_txt{
  font-size: 16px;
  text-align: center;
}
.footer_last{
  background: #f5f5f5;
    padding: 13px 0;
    border-top: 1px solid #e4e4e4;
}
.foot_txt span a{
  color: #5ac052;
  display: inline-block;
}
.btn_help {
    background-color: #1ABC9C;
    color: #FFFFFF;
    width: 275px;
    border-radius: 5px 5px 0 0;
    height: 50px;
    text-align: left;
    /* line-height: 21px; */
    font-size: 18px;
    /* padding: 5px; */
    position: fixed;
    bottom: 0;
    right: 42px;
}

/*=====================================================*/
.step {
  padding: 30px 0;
}
.step h1{
    font-size: 46px;
    color: rgb(87, 189, 79);
    text-align: center;
    line-height: 64px;
    font-weight: 500;
}
.map{
    text-align: center;
    color: #F7BE68;
    font-size: 27px;
    margin: 0 auto;
    display: block;
    width: 45px;
    height: 45px;
    background: #fff;
    z-index: 9;
}
.mapline{
  display: block;
  position: relative;
}


.mapline:before{
    content: '';
    position: absolute;
    width: 37%;
    right: 0;
    top: 12px;
    left: 0;
    margin: 0 auto;
    bottom: 0;
    background: #ddd;
    height: 2px;
    margin: 0 auto;
    display: block;
    z-index: -1;
}
/*.mapline:before{
  content: '';
  position: absolute;
  width: 180px;
  left: 0;
  top: 50px;
  right: 30%;
  bottom: 0;
  background: #ddd;
  height: 2px;


}*/
.map h2{
  font-size: 
}
.num{
  margin: 0 auto;
  display: block;
  width: 55px;
}
.arrow{
  display: block;
  margin: 0 auto;
}
.icon{
  width: 50px;
}
.media-heading{
    font-size: 24px;
    color: #212121;
    line-height: 28px;
    margin-bottom: 20px;
}
.step p {
    text-align: center;
    margin-left: -20%;
    font-size: 16px;
    color: #212121;
    line-height: 28px;
    margin-bottom: 20px;
    font-weight: 300;
}
.media-body p{
  text-align: center;
}
.reg{
  padding: 30px 0;
}
.reg h2 {
    font-size: 36px;
    color: rgb(113, 210, 105);
    text-align: center;
    margin-bottom: 50px;
}
.reg label{
    color: #000;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
}    
.form-horizontal .control-label{
  text-align: left;
}
.reg .form-control{
     border: 1px solid #000;border-radius: 28px;
    min-height: 40px;
    box-shadow: 0 0 5px 5px #e9e9e9 inset;
    color: #A899A8;
}
.btn_enrole{
  border-radius: 30px !important;
    background: #1ABC9C !important;
    padding: 10px 20px !important;
    color: #fff !important;
    font-weight: bold;
    border: none !important;
    font-size: 15px !important;
    float: right;
}










/*==============================================*/
@media(max-width:1366px){
    #sel1 {
    height: 47px;
    }
}
@media(max-width: 1199px){
  .nav li a {
    padding: 15px 18px;
}
.letter_txt {
    font-size: 12px;
    line-height: 30px;
}
.announce {
    font-size: 18px;
    line-height: 28px;
}
.list_foot li a {
    font-size: 14px;
}
.menu_head {
    font-size: 14px;
}
.media a {
    font-size: 13px;
}
.nav {
    margin-top: 33px;
}
.footer_last {
    padding: 13px 0 60px;
}
/*=============*/
.step h1 {
      font-size: 35px;
  }
  .media-heading {
      font-size: 21px;
  }
  .reg h2 {
      font-size: 29px;
  }
}

@media(max-width: 991px){
  .nav li a {
    padding: 15px 14px;
        font-size: 15px
}
.letter_txt {
    font-size: 14px;
    line-height: 24px;
}
.list_login li a {
    font-size: 17px;
}
#sel1 {
    height: 39px;
    }
    .foot_box{
      height: 313px;
    }
    /*================*/
  .reg .form-control {
    min-height: 34px;
  }
  .step p {
    text-align: center;
    margin-left: 0;
  }
  .step p br{
    display: none;
  }
  .map:after{
    left: 29%;
  }
}
@media(max-width: 767px){
.navbar-toggle .icon-bar {
    display: block;
    width: 29px;
    height: 3px;
    border-radius: 1px;
    background: #53ba4b;
}
.navbar {
    margin-bottom: 0;
}
.navbar-toggle {
    margin-top: 23px
  }
  .banner_head {
    font-size: 25px;
    margin-bottom: 5px;
}
.banner {
    padding: 24px 0 6px;
}
.list_media .fa {
    width: 20px;
    height: 20px;
    padding: 5px 0;
    font-size: 11px;
}
.list_login li a {
    font-size: 12px;
}
#sel1 {
    height: 29px;
    font-size: 8px;
    padding: 10px 18px;
}
.list_login li {
    margin-right: 0px;
}
.list_login .fa {
    margin-right: 5px;
}
.list_media, .list_login {
    margin-top: 7px;
}
.letter_txt {
    font-size: 12px;
    line-height: 19px;
}
.logo{
  width: 120px;
}
.foot_box {
    height: auto;
}
.menu_head {
    margin-top: 38px;
}
.media:first-child {
    margin-top: 30px;
}
.foot_txt {
    font-size: 12px;
}
.nav li a {
    padding: 13px 12px;
    font-size: 18px;
}
.footer_last {
    padding: 13px 0 68px;
}
.btn_help {
    width: 91%;
    height: 43px;
    font-size: 14px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
  .step p {
      padding: 0 54px;
  }
  .step h1 {
      font-size: 28px;
  }
  .media-heading {
      font-size: 19px;
      margin-bottom: 0;
  }
  .step p{
    margin-bottom: 0;
    line-height: 20px;
    font-size: 14px;
  }
  .step .space70 {
      margin-top: 30px;
  }
  .btn_enrole{
    margin-bottom: 30px;
  }
  .reg h2 {
    font-size: 24px;
    margin-bottom: 0;
  }
  .step .space60 {
      margin-top: 35px;
  }
}
@media(max-width: 320px){
  #sel1 {
    margin-top: 10px;
}
}