div.css_bar_graph
	{
	width: 100%;
	height: 300px;
	padding: 10px 0px 10px 0px;
	/* --- font --- */
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: normal;
	color: #444444;
	background-color: #ffffff;
	position: relative; 
	margin-left: auto;
	margin-right: auto;	
	
	/* --- css3 --- */
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px; z-index: 99999;
	}
div.css_bar_graph div.graph li:first-child{border:0px;}
	
/* ------ hyperlinks ------ */

/* ------ lists ------ */
div.css_bar_graph ul
	{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	}
	
div.css_bar_graph li
	{
	margin: 0px;
	padding: 0px;
	}

/* ==================== Y-AXIS LABELS ==================== */
/* ------ base ------ */
div.css_bar_graph ul.y_axis
	{
 left: 0;
    position: absolute;
    text-align: right;
    top: 75px;
    width: 30px;opacity:0;
	}
	
/* ------ labels ------ */
div.css_bar_graph ul.y_axis li
	{
   border-top: 1px solid transparent;
    color: #adafb2;
    float: left;
    font-family: Proxima Nova Rg;
    font-size: 12px;
    height: 35px;
    position: relative;
    top: -8px;
    width: 100%;
	}	
	
/* ==================== X-AXIS LABELS  ==================== */
/* ------ base ------ */
div.css_bar_graph ul.x_axis
	{
	width: 100%;
	height: 65px;
	position: absolute;
	bottom: 0px;
	left: 10px;
	text-align: center;
	}
	
/* ------ labels ------ */
div.css_bar_graph ul.x_axis li
	{
    color: #adafb2;
    display: inline;
    float: left;
    font-family: Proxima Nova Rg;
    font-size: 12px;
    text-transform: uppercase;
	padding: 0 10px 0 20px;
    width: 20px;
	}

div.css_bar_graph div.graph li
	{
	width: 100%;
	height: 36px;	/* 50px including border */
	float: left;
opacity:1;
	}
	

div.css_bar_graph div.graph li.bar
	{
	width: 20px;
	float: left;
	position: absolute;
	bottom: 0px;
	text-align: center;
	/* --- css3 --- */
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;/*z-index:99999*/;background:#F3A626;border-radius:10px 10px 0 0;
	}
	
/* ------ bar top circle ------ */
div.css_bar_graph div.graph li.bar div.top
	{
	width: 100%;
	height: 10px;
	margin-top: -5px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}
	
/* ------ bar bottom circle ------ */
div.css_bar_graph div.graph li.bar div.bottom
	{
	width: 100%;
	height: 10px;
	position: absolute;
	bottom: -5px;
	left: 0px;
	/* --- css3 --- */
	-moz-border-radius: 25px/10px;
	-webkit-border-radius: 25px 10px;
	border-radius: 25px/10px;
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}

/* ------ bar top label ------ */
div.css_bar_graph div.graph li.bar span
	{
	visibility: hidden;	/* show label on mouse over */
	position: relative;
	top: -45px;
	padding: 3px 5px 3px 5px;
	z-index: 100;
	background-color: #eeeeee;
	border: 1px solid #bebebe;font-family:Proxima Nova Rg;
	/* --- css3 --- */
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	/* --- gradient --- */
	background-image: linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE5.5 - 7 */
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#ebebeb'); /* IE8 */
	background: -ms-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* IE9 */
	background: -moz-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Firefox */ 
	background: -o-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Opera 11  */
	background: -webkit-linear-gradient(top, #ffffff, #f1f1f1 1px, #ebebeb); /* Chrome 11  */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(0.05, #f1f1f1), color-stop(1, #ebebeb)); /* Chrome 10, Safari */
	/* --- shadow --- */
	text-shadow: 0px 1px 0px rgba(255,255,255,1);
	box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0,0.1);
	/* --- transitions --- */
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	}
	
/* ------ bars positions ------ */
div.css_bar_graph div.graph li.nr_1
	{
	left:0px;
	}
	
div.css_bar_graph div.graph li.nr_2
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_3
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_4
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_5
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_6
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_7
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_8
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_9
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_10
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_11
	{
	left: 0px;
	}
	
div.css_bar_graph div.graph li.nr_12
	{
	left: 0px;
	}
	div.css_bar_graph div.graph li.nr_13
	{
	left: 0px;
	}

div.css_bar_graph div.graph li.nr_14
	{
	left: 0px;
	}

div.css_bar_graph div.graph li.nr_15
	{
	left: 0px;
	}
.greybar.bar1{left:30px;}
.greybar.bar2{left:60px;}
.greybar.bar3 {
    left: 90px;
}
.greybar.bar4 {
    left: 120px;
}
.greybar.bar5 {
    left: 150px;
}
.greybar.bar6 {
    left: 180px;
}
.greybar.bar7 {
    left: 210px;
}
.greybar.bar8 {
    left: 240px;
}
.greybar.bar9 {
    left: 270px;
}
.greybar.bar10 {
    left: 300px;
}
.greybar.bar11 {
    left: 330px;
}
.greybar.bar12 {
    left: 360px;
}
.greybar.bar13 {
    left: 390px;
}
.greybar.bar14 {
    left: 420px;
}
.greybar.bar15 {
    left: 450px;
}
/* ==================== BLUE BAR  ==================== */
/* ------ base ------ */

/* ------ top ------ */
div.css_bar_graph div.graph li.blue div.top
	{
	background: #72b8cc;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.blue div.bottom
	{
	background: #208faf;
	}
	
/* ==================== GREEN BAR  ==================== */
/* ------ base ------ */

/* ------ top ------ */
div.css_bar_graph div.graph li.green div.top
	{
	background: #a2c656;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.green div.bottom
	{
	background: #608d00;
	}
	
/* ==================== ORANGE BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.orange
	{
	background: #ff9000;	/* --- IE --- */
	background: rgba(255,144,0,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.orange div.top
	{
	background: #ffc24c;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.orange div.bottom
	{
	background: #ff9000;
	}
	
/* ==================== PURPLE BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.purple
	{
	background: #7d47ba;	/* --- IE --- */
	background: rgba(125,71,186,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.purple div.top
	{
	background: #b592dd;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.purple div.bottom
	{
	background: #7d47ba;
	}
	
/* ==================== RED BAR  ==================== */
/* ------ base ------ */
div.css_bar_graph div.graph li.red
	{
	background: #d23648;	/* --- IE --- */
	background: rgba(210,54,72,0.8);
	}

/* ------ top ------ */
div.css_bar_graph div.graph li.red div.top
	{
	background: #ea828e;
	}
	
/* ------ bottom ------ */
div.css_bar_graph div.graph li.red div.bottom
	{
	background: #d23648;
	}
	
/* ==================== HOVERS  ==================== */
div.css_bar_graph div.graph li.blue:hover
	{
	cursor: pointer;

	}
	
div.css_bar_graph div.graph li.green:hover
	{
	cursor: pointer;
	}
	
div.css_bar_graph div.graph li.orange:hover
	{
	cursor: pointer;
	background: #ff9000;
	}
	
div.css_bar_graph div.graph li.purple:hover
	{
	cursor: pointer;
	background: #7d47ba;
	}
	
div.css_bar_graph div.graph li.red:hover
	{
	cursor: pointer;
	background: #d23648;
	}
	
div.css_bar_graph div.graph li.bar:hover span
	{
	visibility: visible;
	cursor: pointer;
	top: -55px;
	margin: 0px;
	}
	
		.graph.graphbar ul li.blue{background: #F3A626; /* For Safari 5.1 to 6.0 */

	border-radius:4px 4px 0px 0px;opacity:0.4;}

	.greybar {
    background: #eee none repeat scroll 0 0;
    border-radius: 3px;
    bottom: 77px;
    float: left;
    height: 200px;
    left: 15px;
    position: absolute;
    width: 20px;
}
/**19july2017 start**/
.inviteheader {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
    text-transform: uppercase;
}

/**19july2017 end**/	
@media (max-width:414px) {
	div.css_bar_graph ul.x_axis{left:0px;}
	.greybar.bar1{left:0px}
	.greybar.bar2{left:15px}
	.greybar.bar3{left:35px}
	.greybar.bar4{left:55px}
	.greybar.bar5{left:75px}
	.greybar.bar6{left:95px}
	.greybar.bar7{left:115px}
	.greybar.bar8{left:135px}
	.greybar.bar9{left:155px}
	.greybar.bar10{left:175px}
	.greybar.bar11{left:195px}
	.greybar.bar12{left:215px}
	.greybar.bar13{left:235px}
	.greybar.bar14{left:255px}
	.greybar.bar15{left:275px}
	div.css_bar_graph ul.x_axis li{width:19px;}
}

/** 02 August 2017 **/
.exceldiv {
    text-align: right;
}

.exceldiv .btn.excelbtn {
    font-size: 14px;
    font-weight: bold;
    padding: 5px 17px;
    text-transform: uppercase;
}
.img-pd-lft img {
    border-radius: 70px;
}

/*18-august-2017 */
.teacherdb.greybar.bar1{left:30px;}
.teacherdb.greybar.bar2{left:60px;}
.teacherdb.greybar.bar3 {
    left: 90px;
}
.teacherdb.greybar.bar4 {
    left: 120px;
}
.teacherdb.greybar.bar5 {
    left: 150px;
}
.teacherdb.greybar.bar6 {
    left: 180px;
}
.teacherdb.greybar.bar7 {
    left: 210px;
}
.teacherdb.greybar.bar8 {
    left: 240px;
}
.teacherdb.greybar.bar9 {
    left: 270px;
}
.teacherdb.greybar.bar10 {
    left: 300px;
}
.teacherdb.greybar.bar11 {
    left: 330px;
}
.teacherdb.greybar.bar12 {
    left: 360px;
}
.teacherdb.greybar.bar13 {
    left: 390px;
}
.teacherdb.greybar.bar14 {
    left: 420px;
}
.teacherdb.greybar.bar15 {
    left: 450px;
}
.teacherdb.greybar.bar16{
    left: 480px;
}
.teacherdb.greybar.bar17 {
    left: 510px;
}
.teacherdb.greybar.bar18 {
    left: 540px;
}
.teacherdb.greybar.bar19 {
    left: 570px;
}
.teacherdb.greybar.bar20 {
    left: 600px;
}