@charset "utf-8";



/* CSS Document */
@charset "utf-8";

/* CSS Document */

.inviteheader {
    font-size: 22px;
    font-weight: bold;
    padding: 4px 0;
    text-transform: uppercase;text-align:left;
}

.close.closenotify {
    background: #fff none repeat scroll 0 0;
    border: 2px solid #37b248;
    border-radius: 40px;
    color: #36b047;
    float: right;
    font-size: 28px;
    height: 40px;
    left: 30px;
    margin-top: -23px;
    opacity: 1;
    position: relative;
    width: 40px;
}
.modal-content.enrolmentpopup{float:left;width:100%;}
.confirmlink .sendenrolementemail {
    border: 0 none;
    font-weight: bold;
    padding: 10px 30px;
    text-transform: uppercase;
}
.enrolmentpopup .modal-body{float:left;width:100%;}
.savepostponedate {
    background: #37b248 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 12px 30px;
}
.modal-dialog.popupdiv{width:90%;}