@charset "utf-8";

/* CSS Document */

@font-face {

font-family:"Proxima Nova Rg";

src:url("../fonts/proxima-nova.otf");

}
a{outline:0;}
body{margin:0px;padding:0px;background:#eff3f6;font-family:Proxima Nova Rg;}

.loginsection {background: #fff none repeat scroll 0 0;border:1px solid #dfe3e9;border-radius: 5px;margin:80px auto;width: 450px;}

.loginheader {background: #f8fafc none repeat scroll 0 0;border-bottom:1px solid #e7e9ed;border-radius:5px 5px 0px 0px;min-height: 90px;}

.loginheader h1 { color: #57b94a;font-family: Proxima Nova Rg;font-size: 24px;font-weight: bold; text-align: center;}

.loginheader img {margin: auto;}

.logodiv {float: left;min-height: 60px;position: relative;width: 100%;text-align:center;background:#F8FAFC;border-radius:5px 5px 0px;}

.logodiv img {margin-top: -50px;}

.loginform-content {background: #fff none repeat scroll 0 0;float: left;width: 100%;}

.loginform .form-group label {color: #7f8fa4;font-size: 14px;font-weight: 500;}

.loginform input {background: #f8fafc none repeat scroll 0 0;border: 1px solid #e0e2e6; box-shadow: none;height: 45px;color:#354052;}

.loginform input:hover{box-shadow:none;border: 1px solid #e0e2e6;}

.loginform input:focus{box-shadow:none;border: 1px solid #e0e2e6;}

.loginform .revealinput {float: left;padding: 20px 15px; width: 100%;}

.nopadding{padding:0px;}

.revealbtn{padding-top:25px; padding-left: 5px;}

.revealbtn input{width:100%; border:1px solid #249533;color: #fff;font-size:14px; background: -webkit-linear-gradient(#39b54a, #33aa44);background: -o-linear-gradient(#39b54a, #33aa44);background: -moz-linear-gradient(#39b54a, #33aa44);background: linear-gradient(#39b54a, #33aa44);}

.revealbtn input:hover{color:#fff;border:1px solid #249533;}

.loginform input::-moz-placeholder{color:#354052;}

.loginformarea {float: left;width: 100%;}

.loginformarea h1 {color: #7f8fa4;font-family: Proxima Nova Rg;font-size: 14px;font-weight: bold;text-align: center;margin-top:-25px;}

.logintitle img{ position: relative;bottom:10px;width:100%;}

.loginformblk{ float: left; padding: 10px 30px 0;width: 100%;}

.loginformblk .checkbox input{height:auto;}

 input[type=checkbox]{background:#000;}

.loginform .checkbox input[type="checkbox"]{ margin-left: -24px;margin-top: 14px;position: absolute;display::none;}

.loginform .checkbox{padding-left:14px;}

.loginform .checkbox {padding: 0;}

.checkbox.checkboxarea{padding:0 24px;}

.login-button input {background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0;color: #fff;width: 100%;border:1px solid #249533;}

.login-button input:hover, .login-button input:focus {color:#fff;border:1px solid #249533;} 

.loginformblk .checkbox span::before,.loginformblk .checkbox span::after {content: '';position: absolute;top: 0;bottom: 0;margin: auto;}

/* Check-boxes */

.loginformblk span.checkbox::before {width: 15px;height: 15px;background: -webkit-linear-gradient(#f1f3f7, #ffffff);background: -o-linear-gradient(#f1f3f7, #ffffff);background: -moz-linear-gradient(#f1f3f7, #ffffff);background: linear-gradient(#f1f3f7, #ffffff);left:-25px;box-sizing: border-box;border: 1px solid #ced0da;transition: border-color .2s;border-radius:3px;}

.checkbox.checkboxarea > label{padding-left:0px;}

.loginformblk span.checkbox::after {content: '\f00c';font-family: 'FontAwesome';left: -24px;border-radius:3px;top: 0px;color: transparent;transition: color .2s;}

input[type="checkbox"]:checked + label span.checkbox::after {color: #fff;background:rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0;border:1px solid #249533;width:18px;}

.logininfo p {color: #7f8fa4;}

.logininfo {padding-top: 15px;}

.logininfo a{color:#00aeef;}

.loginlinks a {color: #7f8ea3;font-size: 14px;text-align:right;}

.loginlinks a:hover{text-decoration:none;}

.linkright{text-align:right;}

.login-links {float: left;padding: 15px 0;width: 100%;}

footer {padding-top: 50px;padding-bottom:10px;width:100%;bottom:0px;}

.copyright > p {color: #71787e;font-size: 14px;text-align: center;margin-bottom:0px;}

.copyright span{color:#00aeef;}

/****editprofile****/

.greenbg {background: #57b94a none repeat scroll 0 0;text-align: center;}

.greenbg img{ padding: 6px;width: 70px;}

.dashboard-listing {padding: 20px 0;}

.dashboardright .dropdown-menu{left:-87px;top:43px;}

.dashboard-listing li {padding: 4px 0px;}

.dashboard-listing li a {color: #393c3e;font-size: 16px; cursor: default;}

.dashboard-listing li a {text-decoration:none;}

.whitebg {background: #fff none repeat scroll 0 0;float:left;width:100%; }

.detailright h1 { color: #57b94a;font-size: 24px;}

.searchbar input {border: 0 none;box-shadow: none;}

.searchbar input:focus{border:0px;box-shadow:none;}

.dashboardright > li { display: inline; list-style: outside none none;padding:0 15px;}

.searchbar .submitbtn {

    background-color: transparent;

    border: 0 none;

    box-shadow: none;

    color: transparent;background:url(../images/searchicon.png);background-repeat:no-repeat;padding:0px 12px;

}

.searchbar {border: 1px solid #e5e8ef; padding: 0;float:right;}

.profilepic > img {border-radius: 30px;height: 40px;width: 40px;}

.dashboardright {float: right;margin-bottom: 0;padding: 9px 6px;}

.notification > img {padding: 13px 0;}

.counter {
    background: #ff7800 none repeat scroll 0 0;

    border-radius: 28px;

    color: #fff;

    font-size: 11px;

    height: 15px;

    margin-left: -15px;

    padding: 0 4px;

    position: absolute;

    top: 16px;

    width: 15px;

}

.dashboardright .dropdown a {color: #9fa9ba; }

.dashboardright .dropdown a:hover , .dashboardright .dropdown a:focus {text-decoration:none;}

.editprofile-content {float: left; width: 100%;padding:0px 20px;}

.profilemenus li {display: inline;padding: 0 10px;}

.profilemenus {background: #fff none repeat scroll 0 0;margin: 10px 0;padding: 15px 10px;border:1px solid #dfe3e9;border-radius: 5px;float:left;width:100%;}

.profilemenus > ul{margin-bottom:0px;padding: 0;}

.profilemenus a {color: #f3a625;font-size: 16px;}

.profilemenus a:hover , .profilemenus a:focus{text-decoration:none;}

.dashboard-listing > ul {list-style: outside none none;padding: 0 ;}

.dashboard-listing ul li a i {color: #57b94a;padding: 11px;text-align: right;width: 60px;}

.dashboard-listing ul li:hover .submenu {   display: block;transition:0.8s;}

.dashboard-listing .submenu a {color: #9fa9ba;font-size: 14px;cursor: pointer;}

.dashboard-listing .submenu{list-style:none;padding:0px 60px;display:none;}

.dashboard-listing .submenu > li { padding: 5px 0;}

.dashboard-listing ul li:hover i{background:#57b94a;color:#fff;}

.profilemenus a::after {color: #393c3e;content: "";font-family: fontawesome;padding-left: 8px;}

.edit > a {color: #393c3e;}

.edit a::after {content:"";}

.sidebar-footer {padding: 20px 0;text-align: center;width: 100%;border-top:1px solid #d8e5ee;}

.sidebar-footer i {color: #c5d9e8;font-size: 20px;padding: 0 5px;}

.detailleft {border-right:1px solid #c5d9e8;background:#fff;}

.detailleft {width: 250px;}

.detailright{width:calc(100% - 250px);}

.dashboard-footer {float: left;position: relative;width: 100%;background:#fff;padding:24px 0px;margin-top:20px;}

.editprofile-content > h1 {color: #354052;font-size: 24px;margin:26px 0 15px;}

.editprofileform {float: left;width: 680px;border-radius:4px;}

.profile-bg{background: #fff none repeat scroll 0 0;padding:0 20px 30px;border-radius:4px;float:left;width:100%;border: 1px solid #dfe3e9;margin-bottom:20px;}

.editprofileform h2 {color: #354052;font-size: 16px;}

.editprofileform .form-group {float: left;width: 100%;}

.editprofileform .form-group label {color: #7f8fa4;font-size: 14px;padding: 7px 0;word-wrap:break-word;}

.editprofileform .form-group label span {color: #f3a625;font-size: 17px;}

.editprofileform .form-group input {border: 1px solid #dfe3e9;box-shadow: none;height: 35px;  width: 100%;border-radius:5px;padding:6px 12px;}

.editprofileform .form-group select {border: 1px solid #dfe3e9;box-shadow: none;height: 35px;-moz-appearance:none;-webkit-appearance:none;

    background-image: url("../images/dropdownicon.png"), linear-gradient(#ffffff, #f3f5f8);  background-position: 96% center;

    background-repeat: no-repeat;

}

.editprofileform .form-group textarea{border: 1px solid #dfe3e9; box-shadow: none;}

.editprofileform .form-group label .tagline {color: #7f8fa4;font-size: 12px;font-weight: normal;}

.profile-picture img {border-radius: 70px;float: left;height: 70px;position: relative;width: 70px;z-index: 999999;}

.profilepicbtns {

background: #fafbfc none repeat scroll 0 0;

    border: 1px solid #dfe3e9;

    border-radius: 5px;

    float: left;

    height: 58px;

    margin-left: 0;

    padding: 4px 0;

    position: relative;

    right: 25px;

    width: 65px;

}

.profilepicbtns i {color: #c5d0de;float: right;font-size: 20px;padding: 4px 35px;text-align: center; width: 100%;}

.borderline {border: 1px solid #e7e9ed;margin:9px 30px 0;padding: 0 10px;text-align: center;}

.profilepicbtns {

    background: #fafbfc none repeat scroll 0 0;

    border: 1px solid #dfe3e9;

    border-radius: 5px;

    float: left;

    height: 68px;

    margin-left: 0;

    padding: 4px 0;

    position: relative;

    right: 25px;

    width: 70px;

}

.checkbox::before {width: 15px;height: 15px;background: -webkit-linear-gradient(#f1f3f7, #ffffff);background: -o-linear-gradient(#f1f3f7, #ffffff);background: -moz-linear-gradient(#f1f3f7, #ffffff);background: linear-gradient(#f1f3f7, #ffffff);left:-25px;box-sizing: border-box;border: 1px solid #ccc;transition: border-color .2s;border-radius:3px;}

.checkbox.checkboxarea > label{padding-left:0px;}

.editprofileform span.checkbox::after {content: '\f00c';font-family: 'FontAwesome';left: -24px;border-radius:3px;top: 0px;color: transparent;transition: color .2s;}

.editprofileform .checkbox.checkboxarea > input {width: auto;}

input[type="checkbox"]:checked + label span.checkbox::before{background:#000;}

.editprofileform .form-group .checkbox input{width:auto;height:auto;}

.checkbox.profilecheckbox {float: left;margin: 0;padding:0 26px 0px 20px;}

.checkbox.profilecheckbox > label {color: #414f64;font-size: 16px;}

.cancellink > input {

    border: 1px solid #cccfd8;

    border-radius: 3px;

    color: #354052;

    float: left;

    font-size: 14px;

    margin: 20px 0;

    padding: 6px 20px;

    font-size: 14px;background:-webkit-linear-gradient(#ffffff, #f3f5f8);background: -o-linear-gradient(#ffffff, ##f3f5f8);background: -moz-linear-gradient(#ffffff, #f3f5f8);background: linear-gradient(#ffffff, #f3f5f8);border:1px solid #CCCFD8;

}

.confirmlink input{background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0; border:1px solid #249533;

    border-radius: 3px;

    color: #fff;

    float: left;

    font-size: 14px;

    margin: 20px 0;

    padding: 6px 20px;}

.confirmlink input:hover{color:#fff;}

.cancelconfirm{width:680px;}

.confirmlink{float:right;}

.inputinfo span {color: #354052;float: left;font-size: 14px;}

.editprofileform.editdetails .form-group label{padding:0px;}

.form-group.detailbox {border-bottom: 1px solid #e7e9ed;margin-bottom: 0;padding: 15px 0;}

.form-group.detailbox label{margin-bottom:0px;}

.editprofileform.lessons {margin-top: 20px;}

.lessonsdetail {border-bottom: 1px solid #e7e9ed;color: #354052; margin-bottom: 0;padding: 15px 0;}

#navbarSupportedContent.navbar-collapse.collapse{padding:0px;}

.sidebardiv .navbar-toggle {background: #57b94a none repeat scroll 0 0;border-radius: 0;}

.sidebardiv .icon-bar{background:#fff;}

.sidebardiv .navbar-collapse{padding:0px;width:100%;}

/***.detailleft{position:fixed;}***/

.detailright{float:right;}

.sidebardiv {background: #fff none repeat scroll 0 0; min-height: 560px;}

/*** steps-css ***/

.stepbar .steps-progress {background: #eee none repeat scroll 0 0 padding-box;

    border-radius: 3px;

    display: block;

    height: 3px;

    margin: 0 85px;

    width: auto;

}

.stepbar > ul {display: table; list-style: outside none none; margin: 0;padding: 0; width: 100%;}

.stepbar > ul > li {display: table-cell;position: relative;text-align: center;width:15%;}

.stepbar > ul > li.completed.active a {color: #333c48;font-size: 14px;}

.stepbar > ul > li a:hover , .stepbar > ul > li a:focus{text-decoration:none;}

.stepbar > ul > li a {color: #ababab;display: block; font-weight: bold;padding-top:15px; position: relative;transition: all 300ms ease-in-out 0s;}

.stepbar > ul > li.active.completed a span{background: #57b94a none repeat scroll 0 0;box-shadow: 0 0 0 7px rgba(87, 185, 74, 0.3);color: #fff;}

.stepbar > ul > li a span {background: #ebebeb none repeat scroll 0 0 padding-box;border-radius: 50%;color: #8e9094; display: block; height: 22px; left: 50%;

    line-height: 35px;

    margin-left: -8.5px;

    margin-top: -29.5px;

    position: absolute;

    text-align: center;

    transition: all 300ms ease-in-out 0s;

    width: 22px;

}

.stepbar {background: #fff none repeat scroll 0 0;border: 1px solid #dfe3e9;padding: 26px 0 5px;float:left;width:100%;}

.editprofile-content .tab-content h1{color: #354052; font-size: 24px;margin: 26px 0 15px;}

.checkboxdiv .checkbox {font-size: 16px;font-weight: normal;line-height: 16px;color:#414f64;}

.checkboxline {color: #7f8fa4;float:left;  font-size: 14px; width:100%;}

.activelink h2 {color: #9fa9ba;font-size: 14px; margin: 27px 0; text-align: right;}

.activelink img {margin-right: 7px;}

.datepickerdiv input {background-image: url("../images/dropdownicon.png"), linear-gradient(#ffffff, #f3f5f8); background-repeat:no-repeat;background-position:96%;}

#ui-datepicker-div{z-index:999999999 !important;}

.selectmsg p { color: #71787e; font-size: 14px; line-height: 23px; padding-top: 10px;}

.createbtn .inputbox input{background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f3f5f8) repeat scroll 0 0;

    border: 1px solid #cccfd8;

    border-radius: 3px;

    color: #354052;

    float: left;

    font-size: 14px;

    margin: 0px 0 20px;

    padding: 6px 20px;}

/* Check-boxes-start */

.checkboxdiv {  padding: 0px 0 0px 32px;}

.checkboxdiv input[type="radio"],

.checkboxdiv input[type="checkbox"]{ display: none;}

.checkboxdiv span::before,

.checkboxdiv span::after { content: '';  position: absolute;  top: 3px; margin: auto;}

.checkboxdiv span.checkbox::before { width: 15px; height: 15px;background:webkit-linear-gradient(#f1f3f7, #ffffff);background: -o-linear-gradient(#f1f3f7, #ffffff);

  background: -moz-linear-gradient(#f1f3f7, #ffffff);;

  left: -35px;

  box-sizing: border-box;

  border: 1px solid #ccc;

  transition: border-color .2s;

}

.checkboxdiv span.checkbox::after { content: '\f00c'; font-family: 'FontAwesome'; left: -37px; top: 0px; color: transparent;transition: color .2s;width:18px;height:18px;

font-size:12px;padding:0 1px;}

input[type="checkbox"]:checked + label span.checkbox::after {color: #fff;background:-webkit-linear-gradient(#59da44, #24b00d);
background: -o-linear-gradient(#59da44, #24b00d);background: -moz-linear-gradient(#59da44, #24b00d);background: linear-gradient(#59da44, #24b00d);border:1px solid #249533;padding-left:2px;}

/* Check-boxes-end */

/*** steps-css ***/

.editprofileform.addstudentform{width:100%;}

.cancelconfirm.prevnextbtns{width:100%;}

.familycontent > h2 { font-size: 16px; margin: 0 0 10px;color:#354052;}

.familycontent > p { color: #354052;font-size: 14px;}

.form-group.inputdiv label{padding:0px;}

.form-group.inputdiv {padding-top: 20px;}

.selectmsg.msgline p{padding-top:0px;}

.editprofile-content .tab-pane{float:left;width:100%;}

.checkboxdiv.profilecheckbox label span {color: #414f64; font-size: 14px; margin: 0;}

.checkboxdiv.profilecheckbox {float: left; margin: 0 4px;}

/***familyconfig-css-start***/

.studentspage{border-radius: 4px; float: left;width: 100%;}

.family-config > p { color: #71787e; font-size: 14px;  padding: 20px 0;margin-bottom:0px;}

.filterdiv select { -moz-appearance: none;-webkit-appearance:none;background-image: url("../images/dropdownicon.png"), linear-gradient(#ffffff, #f3f5f8);

    background-position: 96% center; background-repeat: no-repeat; border: 1px solid #dfe3e9;box-shadow: none;height: 35px;width: calc(100% - 50px);}

.selectfilter > span {float: left;color:#333c48;font-size:14px;padding:6px 10px;}

.searching .form-group {border: 1px solid #e5e8ef;float:left;width:100%; margin: 0;border-radius:5px;}

.searching .searchbtn { background: transparent url("../images/searchicon.png") no-repeat scroll 0 0; border: 0 none; float: left; margin: 7px 0; width: 30px;}

.searching .form-control {border: 0 none; box-shadow: none; float: left; width: calc(100% - 30px);}

.profile-bg.filterbox {padding:20px 15px 15px;}

.cleanfilter a {color: #00aeef; font-size: 14px;}

.cleanfilter a:hover{text-decoration:none;}

.cleanfilter { padding: 7px 15px;}

.tablediv h1 {background: #fff none repeat scroll 0 0; border: 1px solid #dfe3e9;border-radius: 5px;color: #354052;font-size: 24px;margin: 0; padding: 25px 22px;}

.tablediv h1 span {color: #ccd3da; font-size: 14px; padding-left: 4px;}

.tablediv{float:left;width:100%; padding-bottom: 50px;}

.tablewrapper thead {float: left; width: 100%;}

.tablewrapper tbody {float: left;width: 100%;baclground:#fff;}

.headings {background: #f5f8fa none repeat scroll 0 0; float: left;width: 100%;padding:3px 20px;border-bottom:1px solid #dfe3e9;}

.tablewrapper .headings th { border: 0 none;color: #7f8fa4;font-size: 14px;padding:0px 2px;}

.serailno{width:5%;float:left;}

.familyname { width: 35%;float:left;}

.children { width: 30%;float:left;}

.composition { width: 25%;float:left;}

.tablewrapper table { border: 0 none;width:100%;}

.tablewrapper .familydata td {float: left;border:0px;color:#333c48;font-size:14px;overflow-wrap: break-word;}

.composition i {color: #c5d0de; font-size: 17px;padding:2px 0px;float:left;}

.composition > span { color: #7f8fa4; font-size: 14px; padding-left: 8px;}

.blank{width:5%;float:left;}

.table-bordered.table-striped .familydata{width:100%;float:left;background:#fff;padding: 12px 8px;border-bottom:1px solid #dfe3e9;}

.serailno.numeric{text-align:center;}

.blank i { color: #c5d0de; font-size: 16px; font-weight: bold; margin: 0 3px;}

.paginationdiv .pagination a { color: #ced0da;font-size: 14px;}

.pagination li.active a {background:#57b94a;border: 1px solid #CED0DA; color: #fff;}

.pagination li.active a:hover{background:none;border:1px solid #57b94a;color:#57b94a;}

.pagination li.active a:focus{background:none;border:1px solid #ced0da;color:#000;}

.paginationdiv .pagination {display: flex; float: left; justify-content: center; text-align: center; width: 100%;}

.totaldiv h3 { color: #333c48;font-size: 14px;}

.selectfilterbox span {width: 60px;float:left;}

.selectfilterbox select{width:calc(100% - 50px);-moz-appearance: none;-webkit-appearance: none;

    background-image: url("../images/dropdownicon.png"), linear-gradient(#ffffff, #f3f5f8);

    background-position: 90% center;

    background-repeat: no-repeat;

    border: 1px solid #dfe3e9;

    box-shadow: none;

    height: 35px;

    width: 70px;}
    
.selectfilterbox {padding: 12px 0;display: flex;justify-content:end;}

.totalstu{text-align:right;}

/***familyconfig-end-here***/

/*** accountdetails-start ***/

.accdetailinfo{border-radius: 4px;float: left;width:100%;}

.leftspace{padding:0 10px 0px 0px;}

.accdetailheading h1{  color: #354052; font-size: 24px; margin: 26px 0 15px;}

.rightspace{padding:0 0px 0px 10px;float:left;}

.prfltitlediv{-webkit-linear-gradient(#ffffff, #f3f5f8);background: -o-linear-gradient(#ffffff, ##f3f5f8);background: -moz-linear-gradient(#ffffff, ##f3f5f8);
background: linear-gradient(#ffffff, #f3f5f8);padding:12px 0px;border:1px solid #ecedf0;}

.prfltitle > h1 {color: #1d2531; font-size: 16px;margin: 0;}

.settingicon i {color: #c5d0de;font-size: 18px;}

.processcompleted.profile-bg{border:1px solid #ecedf0;}

.statusdiv{padding:0px 0px 0px 8px;}

.todayattendancediv {padding: 0 10px 0 0;}

.statusdiv{float:left;}

.statusdiv img{width:100%;height:200px;}

.faqsection h2 {color: #354052; font-size: 16px;}

.faqsection a {color: #00aaff;font-size: 14px;}

.faqsection .ques {color: #354052;float: left;font-size: 14px; padding: 3px 0;width: 100%;}

.faqsection a:hover{text-decoration:none;}

.profilecompletion {float: left;width: 100%;}

.faqsection {float:left;width:100%;}

.applycodediv .selectblk select{width:100%;background-position:90%;}

.checkboxdiv.selectboxes span.checkbox::before{left:-30px;;top:0px ;}

.checkboxdiv.selectboxes span.checkbox::after{left:-30px;}

.checkboxdiv.selectboxes { float: left; padding: 0 20px;}

.checkboxdiv.selectboxes span.checkbox{top:3px;}

.datepickdiv .datepickerdiv input {  border: 1px solid #dfe3e9;border-radius: 5px;height: 35px;padding:0px 12px;}

.firstnameblk {width: 15%;float:left;}

.lastnameblk {width: 15%;float:left;}

.statusblk { width: 17%;float:left;}

.Noteblk {width: 17%;float:left;}

.otherblk { width: 22%;float:left;}

.statusblk .form-group select {-moz-appearance: none;-webkit-appearance: none;

    background: url("../images/dropdownicon.png") repeat scroll 0 0%, rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f3f5f8) repeat scroll 0 0;background-repeat:no-repeat;background-position:90%;

    border: 1px solid #dfe3e9; box-shadow: none;
}

.otherblk i {color: #c5d0de;font-size: 18px;}

.copyblk i {color: #c5d0de;font-size: 18px;}

.cancelconfirmdiv{width:100%;}

.attendencerightdiv{padding-right:0px;float:left;}

.dividerline > span {color: #c5d0de;  float: left; font-size: 24px; padding: 7px 4px 0;width:100%;text-align:center;}

.dateblk .datepickerdiv input{width:100% !important;}

/*** accountdetails-end ***/

.table-bordered.table-striped .familydata:hover{background:#f5f8fa;}

.table-bordered.table-striped .familydata{padding:8px 20px;}

.familydata{float:left;width:100%;}

.tablerightdiv{float:left;padding-right:0px;}

.dateblk .form-group{margin-bottom:0px;}

.datetext{width:40px;}

.fullwidthinput input{width:100%;}

.fullwidthinput select{  background-position: 90% center; padding: 0 4px; width: 100%;}

.fullwidthinput label{padding:7px 0px;color:#333c48;font-size:14px;text-align:center;margin-bottom: 0;}

.applycodediv .form-group input{font-size:14px;}

.generatereport input {background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0; border: 1px solid #249533;}

.rightspace a{color:#00aeef;font-size:14px;}

.filterbox.generatefilter{padding-bottom:0px;}

.viewreport input {background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0;border: 1px solid #249533;}

.viewreport input:hover{border: 1px solid #249533;}

.paginationselbox select {-moz-appearance: none;-webkit-appearance:none;
    background-image: url("../images/dropdownicon.png"), linear-gradient(#ffffff, #f3f5f8);
    background-position: 90% center;
    background-repeat: no-repeat;
    border: 1px solid #dfe3e9;
    box-shadow: none;
    height: 30px;
    padding: 0 3px;
    width: 70px;
}

.paginationselbox {display: flex; justify-content: end;padding: 12px 0;}

.reporticons img {margin: 0 4px;width: 25px;}

.reporticons {  padding: 10px 0; text-align: right;}

.reporticons i{ font-size: 20px; margin: 0 0 0 4px;   position: relative;top: 4px;color:#c5d0de;}

.reportbox{background:#fff;border:1px solid #ecedf0;min-height: 250px;}

.reporttitle{padding:12px 20px;}

.proofdiv {padding: 10px 0;}

.reportbg {float: left; padding: 7px 20px;width: 100%;}

.proofdiv > span {color: #7f8fa4; font-size: 14px; padding-left: 10px;}

.linktext > a {color: #00aaff; font-size: 14px;}

.linktext { padding-top: 10px;}

.greyborder{border-bottom:1px solid #e7e9ed;}

.headingdiv h2{padding:15px 0px;margin:0px;}

.editprofileform .form-group.reportselbox label {padding: 7px 0;}

.lessontext p{margin-bottom:0px;}

.lessonsetting i{color:#c5d0de;font-size:18px;}

.tablewrapper .familydata td i{color:#c5d0de;font-size:15px;margin:0 7px 0 0;}

.actiondiv{float:right;}

.tablerightcontent h2 {color: #354052;font-size: 16px; margin: 0 0 13px;}

.tablerightcontent ol { padding: 0 10px;}

.tablerightcontent ol li {color: #354052; font-size: 14px; padding: 0 0 15px;}

.archievesbtn > a { background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0; border: 1px solid #249533; border-radius: 5px;color: #fff; float: left;

    padding: 7px;

    text-align: center;

    width: 100%;

}

.inputbox.termselect {padding: 0 4px;}

.acceptbtn {background: #57b94a none repeat scroll 0 0;}

.statusbtn{ border-radius: 5px;color: #fff;font-size: 12px;   padding: 6px 8px; text-transform: uppercase;}

.exstudentbtn{background:#777777;}

.suspendbtn{background:#d9544f;}

.requestbtn{background:#f5a528;}

.activebtn{background:#59c1de;}

.emailbtn{background:#5985de;}

.reportsec {float: left;width: 20%;padding:0 7px 0px 0px;  }

.reportblk{border-radius: 5px;padding:0px 4px;}

.bluebox{background:-webkit-linear-gradient(#4cc2f2, #3ea3cc);background: -o-linear-gradient(#4cc2f2, #3ea3cc);background: -moz-linear-gradient(#4cc2f2, #3ea3cc);background: linear-gradient(#4cc2f2, #3ea3cc);float:left;}

.greenbox{-webkit-linear-gradient(#64d155, #57b94a);background: -o-linear-gradient(#64d155, #57b94a);background: -moz-linear-gradient(#64d155, #57b94a);background: linear-gradient(#64d155, #57b94a);float:left;}

.yellowbox{-webkit-linear-gradient(#f3a625, #d59221);background: -o-linear-gradient(#f3a625, #d59221);background: -moz-linear-gradient(#f3a625, #d59221);background: linear-gradient(#f3a625, #d59221);float:left;}

.pinkbox{-webkit-linear-gradient(#e91a84, #c1146d);background: -o-linear-gradient(#e91a84, #c1146d);background: -moz-linear-gradient(#e91a84, #c1146d);background: linear-gradient(#e91a84, #c1146d);float:left;}

.purplebox{-webkit-linear-gradient(#7a14c1, #7b1ae9);background: -o-linear-gradient(#7a14c1, #7b1ae9);background: -moz-linear-gradient(#7a14c1, #7b1ae9);background: linear-gradient(#7a14c1, #7b1ae9);float:left;}

.reportname > h1 { color: #fff; font-size: 12px;text-transform: uppercase;margin-top: 0;}

.reportname > h2{ color: #fff; font-size: 36px; margin: 0;}

.progressindicator {border-top: 1px solid rgba(255, 255, 255, 0.4); float: left; padding: 10px 0;text-align: center;width: 100%;}

.reportarrow i { color: rgba(255, 255, 255, 0.27); font-size: 30px;}

.progressindicator > span {color: #fff;font-size: 12px;text-transform:uppercase;}

.reportblocks { padding:20px 0 10px;float:left;width:100%;}

.editprofile-content{min-height:100vh;}

.imptext > h1 {color: #354052; font-size: 16px;}

.imptext > p { color: #354052;font-size: 14px;}

.miscchanges .profile-bg { min-height: 375px;}

.tableheight{  height: 500px;overflow-x: auto; overflow-y: scroll;}

.tableheight1{  height: 600px;overflow-x: auto;overflow-y: scroll;}

.dashboardtit { background: #fff none repeat scroll 0 0; border: 1px solid #dfe3e9; border-radius: 5px;padding: 25px 30px;}

.dashboardtit h1{background: none; border: 0px; border-radius: 0px;padding: 0px;}

.communicationicons ul{left: -87px; top: 43px; margin-bottom: 0;}

.communicationicons li {display: inline; padding: 0 5px;}

.testimonialslide{float:left;width:100%;}

.communicationicons li i{color:#c5d0de;  font-size: 16px;}

.imgsec img {height: 60px;width: 60px;}

.contentsec > p {color: #333c48; font-size: 16px;margin-bottom:0px;}

.contentsec > span {color: #7f8fa4; font-size: 14px;}

.spacing { padding: 20px 0;}

.dashboardtablediv {padding-bottom: 25px;}

.behaviourstatus img { height: 270px; width: 100%;}

.table-bordered.table-striped .borderright{border-right:1px solid #dfe3e9;}

.headings.attendanceheadings { padding: 0 20px;}

.headings.attendanceheadings th { padding: 6px 0;}

.headings th.spaceleft{padding-left:15px;}

.table-bordered.table-striped .familydata.attendancedata td.spaceleft{padding-left:15px;}

.table-bordered.table-striped .familydata.attendancedata {padding: 0 20px;}

.table-bordered.table-striped .familydata.attendancedata td {padding: 20px 0px;}

.testimonials { background: #fff none repeat scroll 0 0; border: 1px solid #dfe3e9;border-radius: 5px;float:left;width:100%;}

.testimonialtitdiv h1 {color: #354052;  font-size: 24px; margin: 0;}

.testimonialtitdiv {border-bottom: 1px solid #dfe3e9; padding: 20px 0;}

.testimonialtitdiv .left.carousel-control{background:none;}

.testimonialtitdiv .right.carousel-control{background:none;}

.arrowsdiv{text-align:right;}

.arrowsdiv i { border: 2px solid #c0c8d8; border-radius: 30px;color: #c0c8d8; font-size: 20px; height: 25px; padding: 0;text-align: center; width: 25px;}

.arrowsdiv {display: flex; float: right; justify-content: end; text-align: right;}

.leftarrow {border-right: 1px solid #c0c8d8; padding: 0 12px 0 0;}

.rightarrow {padding: 0 0px 0 12px;}

.clientimg img {height: 60px; width: 60px;}

.clientimg {width: 90px;}

.clientview { width: calc(100% - 90px);}

.clientview > h1 { color: #333c48; font-size: 16px;  margin: 10px 0 0;}

.slideblk {border-bottom:1px solid #dfe3e9; padding: 20px 15px;}

.viewsdiv{margin-top:20px;}

.videobg {padding: 10px;}

.video-parts iframe {border-radius: 5px;}

.videocontent > h1 { color: #354052; font-size: 14px; margin: 0;}

.videocontent span{color:#7f8fa4;font-size:12px;}

.videocontent { padding: 15px;}

.border-right{border-right:1px solid #dfe3e9;}

.graph img{height:245px;}

.monthdate > h1 {color: #1d2531; font-size: 40px; margin: 0 0 10px;}

.borderbottom {border-bottom: 1px solid #dfe3e9;}

.monthdate{text-align: center;padding: 28px 0;}

.graph{padding:10px 0px;}

.facebookicon i {background: #4962c0 none repeat scroll 0 0; color: #fff;font-size: 50px;padding: 40px 0;text-align: center;width: 100%;border-radius:5px 5px 0px 0px;}

.facebookicon {background: #fff none repeat scroll 0 0;  border: 1px solid #dfe3e9; border-radius: 5px;}

.facebookicon h3 {font-size: 16px; margin: 0; padding: 20px 0; text-align: center;color:#7f8fa4;}

.facebookicon h3 span{color:#1d2531;}

.twittericon { background: #fff none repeat scroll 0 0; border: 1px solid #dfe3e9;border-radius: 5px;}

.twittericon h3 { font-size: 16px; margin: 0; padding: 20px 0; text-align: center;color:#7f8fa4;}

.twittericon i { background: #55acee none repeat scroll 0 0; color: #fff; font-size: 50px; padding: 40px 0;text-align: center;width: 100%;border-radius:5px 5px 0px 0px;}

.twittericon h3 span{color:#1d2531;}

.cloudicon{float:left;}

.weathertit h1 {color: #1d2531; font-size: 24px;}

.weathertit > span { color: #57b94a;  font-size: 14px;}

.locationicon {text-align: right;padding:10px 15px;}

.locationicon > span { color: #adafb2; padding-left: 5px;}

.locationicon > i {color: #adafb2; padding-left: 15px;}

.weatherblk > h1 {color: #b5b5b5;font-size: 16px;margin-top:0px;}

.weatherblk { text-align: center;}

.weatherblk h2 {color: #7f8fa4;font-size: 20px;margin: 8px 0 0;}

.weatherblk > span {color: #b5b5b5;font-size: 14px;}

.weatherinfo {padding: 10px 0;}

.editoriconblk {float: left; padding: 0 15px 0 0;}

.menubaritems ul{padding:5px 0px;margin:0px;}

.actionbtn .quickaction {background: rgba(0, 0, 0, 0) url("../images/switchbtn.png") no-repeat scroll 96% center;

    border: 1px solid #9fa9ba;

    border-radius: 5px;

    padding: 5px 32px 5px 12px;

}

.quickaction{color:#9fa9ba;}

.activequickaction{ background:url(../images/whiteswitch.png), linear-gradient(#39b54a, #33aa44);

    background-repeat:no-repeat;background-position:96%;

    border: 1px solid #9fa9ba;

    border-radius: 5px;

    padding: 5px 32px 5px 12px;}

.actionbtn{text-align:right;color:#fff;}

.communicationicons ul li a:hover , .communicationicons ul li a:focus{text-decoration:none;}

.attendancesec img{width:100%;margin:0px 0px 15px 0px;}

.searchbox{padding:7px 10px;}

.attendancesec {float: left;}

.communicationicons{text-align:right;}

.paginationdiv .pagination li img{margin:0px;}

.addbtn a {background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0;

    border: 1px solid #9fa9ba;

    border-radius: 5px;

    color: #fff;

    padding: 6px 15px;

}

.addbtn a:hover{text-decoration:none;}

.family-config {  min-height: 190px;}

.totaldiv{padding:7px 20px;}

.settingicon{text-align:right;}

.totalstudent{text-align:center;padding:0 15px 0px 0px;}

.familycontent {float: left; width: 100%;}
.selectmsg.msgline {float: left;width: 100%;}
.generatereport input:hover { border: 1px solid #249533;}
.lessonsetting{text-align:right;}


/*****************************************Custom Style Develpoer ***************************************************************************/

.editprofile-content .tab-contentCustom h1 {color: #354052; font-size: 24px;margin: 26px 0 15px;} 

.help-inline-error{color:red;}

 .tooltip.top .tooltip-arrow { border-top-color: #F00 !important; }
 
 .tooltip-inner { background-color: #F00 !important; }

.radiobtn{position: relative;}

.radiobtn input[type=radio]{position: absolute;visibility: hidden;}

.radiobtn label{display: block;position: relative;font-weight: 300;font-size: 1.35em; padding: 25px 25px 25px 80px; margin: 10px auto; height: 30px; z-index: 9;cursor: pointer;
  -webkit-transition: all 0.25s linear;}

.radiobtn .check{ display: block; position: absolute; border: 1px solid #ccc; background:rgba(0, 0, 0, 0) linear-gradient(#f1f3f7, #ffffff) repeat scroll 0 0;
  border-radius: 100%; height: 15px; width: 15px;  top: 30px;  left: 20px; z-index: 5;	transition: border .25s linear;	-webkit-transition: border .25s linear;}

.radiobtn .check::before {  display: block;  position: absolute;content: '';  border-radius: 100%;  height: 5px;  width: 5px;  top: 4px; left:4px;  margin: auto;
	transition: background 0.25s linear;
	-webkit-transition: background 0.25s linear;}

input[type=radio]:checked ~ .check {  border: 1px solid #249533; background:rgba(0, 0, 0, 0) linear-gradient(#59da44, #24b00d) repeat scroll 0 0;}

input[type=radio]:checked ~ .check::before{  background: #fff;}

.disableClick{ pointer-events: none;}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {  color: #000 !important;}

.editprofileform .form-group .multipleselbox select {  background-image: linear-gradient(#ffffff, #f3f5f8);}
/*****************mycssni************************/
.pagination a:hover { background: #57b94a none repeat scroll 0 0 !important; color: #fff !important;}
/*****************mycssni***********************/
/*****************************************Custom Style Develpoer ***************************************************************************/
.editprofileform .form-group select option { border-bottom: 1px solid #eee; padding: 5px 10px;}
.editprofileform .form-group.multipleselbox select { background-image: linear-gradient(#ffffff, #f3f5f8);}
.editprofileform .form-group.multipleselbox select option { border-bottom: 0 none;}


/*****************chartcss**************************/
.profileicon > img { float: left;width: 35px;position:relative;}
.progress.profilecompleted {  background: #e2e7ee none repeat scroll 0 0;  border-radius: 10px;  box-shadow: none;  float: left;  height: 10px;  margin-bottom: 8px;
    margin-left: -5px !important;
    margin-right: 0;
    margin-top: 12px;
    width: calc(100% - 30px);
}
.progress-bar.details { background: -webkit-linear-gradient(#1991eb, #2ea1f8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1991eb, #2ea1f8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1991eb, #2ea1f8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1991eb, #2ea1f8); /* Standard syntax */
    border-radius: 30px;
    width: 80%;}
	
.progress-bar.branch {
    	 background: -webkit-linear-gradient(#7f5be6, #7f5be6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7f5be6, #7f5be6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7f5be6, #7f5be6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7f5be6, #7f5be6); /* Standard syntax */
    border-radius: 30px;
    width: 93%;}
	
.progress-bar.feeband {
  	 background: -webkit-linear-gradient(#59da44, #24b00d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#59da44, #24b00d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#59da44, #24b00d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#59da44, #24b00d); /* Standard syntax */
    border-radius: 30px;
    width: 35%;}
	
 .progress-bar.class { background: -webkit-linear-gradient(#f8cf5d, #fdba00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f8cf5d, #fdba00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f8cf5d, #fdba00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f8cf5d, #fdba00); /* Standard syntax */
    border-radius: 30px;
    width: 10%;}
	
 .progress-bar.family { background: -webkit-linear-gradient(#335b81, #344674); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#335b81, #344674); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#335b81, #344674); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#335b81, #344674); /* Standard syntax */
    border-radius: 30px;
    width: 32%;}
	
 .progress-bar.sibling { background: -webkit-linear-gradient(#f44242, #bf3333); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f44242, #bf3333); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f44242, #bf3333); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f44242, #bf3333); /* Standard syntax */
    border-radius: 30px;
    width: 42%;}
	
.percentage span { color: #7f8fa4; font-family: Proxima Nova Lt;  font-size: 13px;}

.profileleft {  border-right: 1px solid #ecedf0;  padding: 20px 15px;}

.profilecompleted.profile-bg{padding:0px;}

.attendance-chart > span {  color: #00aeef; float: left; font-size: 16px; text-align: center;  width: 100%;}

.profilebars {  margin: 4px 0;}

.attendance-title > h1 {color: #354052;font-family: Proxima Nova Rg; font-size: 20px;}

.stuatten{padding:0px;}

.stuatten > h1 { color: #333c48; text-align: center; line-height: 23px;}

.stuatten span {    color: #3fc529;  font-size: 14px;}

.titlediv{position: relative; z-index: 999999999;}

.titlediv h1{ border: 0 none;  color: #354052;  font-size: 20px;  margin: 8px 0; padding: 0;}

.chartdiv canvas { top: -15px;}

.chartdiv{height:140px !important;}

.profilecompletion .todayattendancediv{padding:0px;}

.attendanceicon {  float: right;  padding: 2px 20px 0; text-align: right;}

.attendance-status {  position: relative;top:-20px;}

.statusdiv img { float: left;height: auto; margin: 5px 2px; width: 10px;}

.dashboard-attendance{padding:0px; margin-bottom: 15px;}

.canvasjs-chart-credit { display: none;}

.dashboard-attendance .statusdiv { padding: 0 0 0 16px;}

.dashboardprofile { padding: 5px 15px;}

.dashboardprofile .profilebars { margin: 1px 0;}

.attendanceicon img{width:auto; cursor:pointer;margin-bottom:0px;}

.titlediv .stuatten span{color:#3fc529;}

.classchart { padding: 0 10px;}

.familydata.attendancestatus:hover .hoverdiv {display: block;}

.hoverdiv{display:none; position: absolute;}

.hoverdiv ul { background: #f3a626 none repeat scroll 0 0; float: right; width: 150px;}

.hoverdiv { display: none; position: absolute; width: 95%;}

.todayattendancediv {background: #fff none repeat scroll 0 0; border: 1px solid #ecedf0; padding: 0 10px 0 0;}

.prfltitlediv {  background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f3f5f8) repeat scroll 0 0; border: 1px solid #ecedf0; padding: 12px 0;}

/*************************************************Document Style**************************************************************/
.editoriconblk i { background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f3f5f8) repeat scroll 0 0; border: 1px solid #dfe3e9; border-radius: 3px; font-size: 19px;
    margin: 0 -2px; padding: 7px 13px;}
	
.menulist {background: #222c3c none repeat scroll 0 0; width: 250px;}

.documentsec { width: calc(100% - 250px);}

.documents-list h2 { color: #5b6779;  font-size: 12px; padding: 0 20px; text-transform:uppercase;}

.schooldoc .dropdown.docmenu ul { display: none;padding:0 15px;}

.schooldoc .dropdown.docmenu:hover ul{display:block;}

.schooldoc > h1 {color: #fff; font-size: 14px;padding:0 20px;}

.schooldoc > h1::before {color: #57b94a;content: "";font-family: fontawesome;font-size: 18px; padding-right: 4px;}

.schooldoc li a { color: #fff;font-size: 14px; padding: 0 7px 0 0;text-shadow: none;}

.schooldoc li a:hover{text-decoration:none;}

.schooldoc li {padding: 10px 30px;list-style:none;}

.schooldoc li i {color: #9fa9ba;padding: 0 5px;}

.dropdown.docmenu b {color: #57b94a;}

.schooldoc .dropdown.docmenu ul li {padding: 4px 0;}

.schooldoc .dropdown.docmenu .submenumenus {display: none !important; padding: 0 20px;}

.schooldoc .dropdown.docmenu .submenu-dropdown:hover .submenumenus{display:block !important;}

.schooldoc li:hover {background:#313d4f none repeat scroll 0 0;}

.schooldoc{padding:0px;}

.sidebarsearchbox .form-control {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 0 none;}

.navbar-form.sidebarsearchbox.searchbar { border: 0 none; float: left; width: 100%;border-bottom:1px solid #5b6779;}

.sidebar-search { float: left; padding: 0 20px; width: 100%;}

.sidebarsearchbox .form-control{padding:0px;}

.submiticon.submitbtn{  float: right; margin-top: 6px;}

.ui-widget-header{background:rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0 !important;}

.graph_bars li.bar { max-height: 100%;}

.addform select, #srrch select{-moz-appearance:none;-webkit-appearance: none;}

#srrch{float:left;width:100%;}

.btn.btn-info.btn-flat:hover{background: #37b148 !important;border:1px solid #33AB44 !important;box-shadow:none !important;}

.btn.btn-info.btn-flat:focus{background: #37b148 !important;border:1px solid #33AB44 !important;box-shadow:none !important;}

@media (max-width:767px) {
.documentsec{width:100%;}

.menulist { background: #222c3c none repeat scroll 0 0; min-height: 450px;float:left;width:100%;}
}
@media (min-width:992px) {
	.tablewrapper .familydata td{padding: 0 10px 0 0;}
}

/****************************************New style Anchal*****************************************************/

.tabletitlediv > h1 {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: 0 none;border-bottom:1px solid #ebebeb;}

.tabletitlediv {background: #fff none repeat scroll 0 0; border: 1px solid #dfe3e9;border-radius: 5px;float: left;width: 100%;padding-bottom: 15px;}

.tablenevleft > ul {list-style: outside none none;padding-left: 15px;}

.tablenevleft li {display: inline;}

.tablenevleft a {color: #7f8fa4; float: left;font-family: Proxima Nova Rg;font-size: 16px;font-weight: normal;margin-right: 20px;padding: 15px 0;}

.tablenavdiv {box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05); padding-bottom: 0px;}

.tablenevleft {padding: 0px 0;}

.tablenevleft a:hover , .tablenevleft a:focus ,.tablenevleft li.active a {text-decoration:none;color:#1d2531;border-bottom:3px solid #f3a625;}

.tablenevright .dateblk .datepickerdiv input {border: 1px solid #dfe3e9;border-radius: 4px; height: 35px;padding: 0 4px;}

.datepickercenter span { color: #c5d0de;float: left;font-size: 25px;text-align: center;width: 100%;}

.datepickerspacing {padding: 10px 0;}

.headings.enrolment-headings { padding: 10px 20px;border-bottom:1px solid #dfe3e9;}

.familydata.enrolment-table td {padding-bottom: 10px;padding-top: 10px;}

.action-btn a {background: rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0; border: 1px solid #249533; border-radius: 5px; color: #fff;padding: 8px 17px;
}
.action-btn a:hover{text-decoration:none;}

.familydata.enrolment-table .action-btn a i {color: #fff; padding-left: 3px; position: relative; top: 1px;margin:0px;}

.datelabel label { padding: 7px 0 0;}

.datelabel{padding-left:0px;}

.profile-bg.generatesalary-filter { padding: 7px 0 0;}

.tablenevright { padding-left: 15px;}

.tabletitlediv.generatetitlediv {border: 0 none;padding-bottom: 0;}

.headings.enrolment-headings th{font-size:13px;}

.familydata.student-registration.enrolment-table td{font-size:13px;}

.attendancescreen-title {margin-top: 30px;}

.loginform select {background: #f8fafc none repeat scroll 0 0; border: 1px solid #e0e2e6;box-shadow: none;height: 45px;-moz-appearance:none;-webkit-appearance:none;background-image:url(../images/select-dropdown.png);background-repeat:no-repeat;background-position:95%;}

@media (max-width:767px) {
	.tablenevleft a{float:left;width:100%;}
}
@media (min-width:869px) and (max-width:1199px) {
.tablenevleft{width:100%;}	
.tablenevright{width:100%;}
.tablenevleft a{padding-right:10px;font-size:14px;}
.tablenavdiv{padding:0px;}
}
@media (min-width:768px) and (max-width:868px) {
.tablenevleft{width:100%;}	
.tablenevright{width:100%;}
.tablenevleft a{padding-right:0px;font-size:11px;}
.tablenavdiv{padding:0px;}
}

/**************************************************New style User access devender********************************/

/** 26 June 2017 **/

.searchbar .submitbtn {
    float:right;
}
.user_acceess_system {
    display: inline-block;
    width: 100%;
}
.acc_systm {background: #fff none repeat scroll 0 0;border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0;border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    padding: 10px 20px;
	border: 1px solid #ccc;
	border-bottom:0;
}
.access_profile_dtl {background: #fff none repeat scroll 0 0;display: inline-block; padding: 20px 0; width: 100%;border: 1px solid #ccc;}	

.usr_name { font-family: proxima nova rg; font-size: 22px !important; font-weight: 700; margin:0;}

.access_profile_dtl h4 {font-size: 15px;font-weight: 500;}

.eml_text {font-family: proxima nova rg;font-size: 15px;font-weight: 300;}

.chkboxes { display: inline-block; margin-top: -26px; padding: 0 !important;width: 100%;}

.chkboxes .checkbox-inline {font-family: proxima nova rg; margin-top: 12px;}

.checkboxess_heading {font-size: 17px !important; font-weight: 600;}

.img-pd-lft {text-align: center !important;}

.mgn_top { margin-top: 10px;}

.navbar-form.searchbar.navbar-right.searchbar-wdth {margin-right: 0; width: 64%;border-radius:2px;}

/** 26 June 2017 **/

.certificate{ border-bottom: 1px solid #ccc;padding-top: 0px;font-size:14px;padding-bottom:0px;}

.profile-picture.inputbox { padding: 15px 0 0 !important;}

.document{padding:0px;}

.prfltitlediv.nopadding { border: 1px solid #ecedf0; border-radius: 3px;}

.documenttable{margin-bottom:0px !important;}

*::after, *::before { box-sizing: border-box;}

*::after, *::before { box-sizing: border-box;}

button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer;}

#cancelbtn {background:rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0 !important;	color:#FFF !important;}

.fa-picture-o { cursor:pointer; }
.fa-trash-o { cursor:pointer; }

.prfltitlediv.certificate {background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f3f5f8) repeat scroll 0 0; border: 1px solid #ecedf0;}

.prfltitle {padding: 0px;}

.profilecompleted.profile-bg {padding: 10px;}

.profilecompletion{ background: rgba(0, 0, 0, 0) linear-gradient(#ffffff, #f3f5f8) repeat scroll 0 0 !important;}

#certificatesform .confirmlink {float: left !important;}

.confirmlink .editcertificatebtn {float: right;margin: 10px 0;}

.profilecompleted.profile-bg > div {float: left; padding-left: 15px;padding-right: 15px; width: 100%;}

.deletecertificate {float: right;}

.deletecertificate + .tooltip > .tooltip-inner {background-color: #090 !important;}

.deletecertificate + .tooltip > .tooltip-arrow {border-top-color:#090 !important;}

.fa-picture-o + .tooltip > .tooltip-inner {background-color: #090 !important; color:#fff;}

.fa-picture-o + .tooltip > .tooltip-arrow {border-top-color:#090 !important;}

.downloadspan { padding: 0 25px;}

.downloadcertificate + .tooltip > .tooltip-inner {background-color: #090 !important;}

.downloadcertificate + .tooltip > .tooltip-arrow {border-top-color:#090 !important;}

.fa.fa-download + .tooltip > .tooltip-inner {background-color: #090 !important; color:#fff;}

.fa.fa-download + .tooltip > .tooltip-arrow {border-top-color:#090 !important;}

.deletecertificate + .tooltip > .tooltip-inner {background-color: #090 !important;}

.deletecertificate + .tooltip > .tooltip-arrow {border-top-color:#090 !important;}

.fa-trash-o + .tooltip > .tooltip-inner {background-color: #090 !important; color:#fff;}

.fa-trash-o+ .tooltip > .tooltip-arrow {border-top-color:#090 !important;}

.profilecompleted.profile-bg div h4 { color: #555; font-size: 14px; padding-bottom: 10px;}

.document{padding:0px !important;}


.profile_titlebg h1{background: -webkit-linear-gradient(#ffffff, #d1d1d1);background: -o-linear-gradient(#ffffff, #d1d1d1); background: -moz-linear-gradient(#ffffff, #d1d1d1);     background: linear-gradient(#ffffff, #d1d1d1);  padding: 10px 15px; }

.profiletitltbox{padding-top:0px;}

.profiletitltbox .profile_titlebg {padding: 0;}

.contentdiv{padding-left:15px;margin-top:15px;}

.profile-bg {border: medium none;padding: 0px;}

.accsection h1 { padding: 0 0 10px 15px;}

/**29 June 2017 **/
.editprofile-content.enrollmentcontent { margin-top: 20px;}

.editprofileform.enrollmentprofileform { float: none; margin: auto; width: 1000px;}

.detailright.enrollmentrightsection {float: left; width: 100%;}

.fullinputdiv label { width: 20%;}

.fullinputdiv .inputbox{width:calc(100% - 20%);}

 .profile_titlebg.enrollment_titlebg h1 {background: rgba(0, 0, 0, 0) linear-gradient(#b9feca, #088019) repeat scroll 0 0; color: #fff; padding: 10px 15px;}
 
/**29 June 2017 **/
.modal-content.enrolmentpopup { float: left;width: 100%;}

/** 02 August 2017 **/
.exceldiv {text-align: right;}

.exceldiv .btn.excelbtn{padding:10px 30px; font-size:18px; }

.img-pd-lft img {border-radius: 70px;}
/** 18 August 2017 **/
.mycustomtoltp span {
    overflow-wrap: break-word;
}
.blk-frmt h2 {
    color: #3d3d3d;
    font-size: 18px;
}
.blk-frmt a {
    color: #57b94a;
    font-weight: bold;
    text-transform: uppercase;
}
.paginationselbox.paginationdiv{display:inline;}
#perPageForm #perpage{margin:0px;}

@media (max-width:1280px) {
.profile-bg.filterbox{padding:20px 8px 15px;}
	
}