/* Force table to not be like tables anymore */

@media (max-width:991px){



	

	/* Hide table headers (but not display: none;, for accessibility) */

	.tablediv thead tr { 

		position: absolute;

		top: -9999px;

		left: -9999px;

	}

	

	.tablediv tr { border: 1px solid #ccc; }

	

	.tablediv td { 

		/* Behave  like a "row" */

		border: none;

		border-bottom: 1px solid #eee; 

		position: relative;

		padding-left: 50%; 

	}

	

	.tablediv td:before { 

		/* Now like a table header */

		position: absolute;

		/* Top/left values mimic padding */

		top: 6px;

		left: 6px;

		width: 45%; 

		padding-right: 10px; 

		white-space: nowrap;

	}

	

	/*

	Label the data

	*/

	/**summary-start***/

	.summary td:nth-of-type(1):before { content: "No"; }

	.summary td:nth-of-type(2):before { content: "First Name"; }

	.summary td:nth-of-type(3):before { content: "Last Name"; }

	.summary td:nth-of-type(4):before { content: "Present"; }

	.summary td:nth-of-type(5):before { content: "Late"; }

	.summary td:nth-of-type(6):before { content: "Auth Absent"; }

	.summary td:nth-of-type(7):before { content: "Unauth Absent"; }

	.summary td:nth-of-type(8):before { content: "Total Sessions"; }

	/**summary-end**/

	

	/**report-start**/

	.report td:nth-of-type(1):before { content: "No"; }

	.report td:nth-of-type(2):before { content: "First Name"; }

	.report td:nth-of-type(3):before { content: "Last Name"; }

	.report td:nth-of-type(4):before { content: "Present"; }

	.report td:nth-of-type(5):before { content: "Late"; }

	.report td:nth-of-type(6):before { content: "Auth Absent"; }

	.report td:nth-of-type(7):before { content: "Unauth Absent"; }

	/**report-end**/

	

	/**report-start**/

	.term td:nth-of-type(1):before { content: "No"; }

	.term td:nth-of-type(2):before { content: "Name"; }

	.term td:nth-of-type(3):before { content: "Gender"; }

	.term td:nth-of-type(4):before { content: "Lesson"; }

	.term td:nth-of-type(5):before { content: "Completion"; }

	.term td:nth-of-type(6):before { content: "Proof reading"; }

	.term td:nth-of-type(7):before { content: "Modify Reports"; }

	/**report-end**/

	

		/**report-start**/

	.attendancestatus td:nth-of-type(1):before { content: "No"; }

	.attendancestatus td:nth-of-type(2):before { content: "Tutor Attendance"; }

	.attendancestatus td:nth-of-type(3):before { content: "AM"; }

	.attendancestatus td:nth-of-type(4):before { content: "PM"; }

	.attendancestatus td:nth-of-type(5):before { content: "Subject Attendance"; }

	.attendancestatus td:nth-of-type(6):before { content: "AM"; }

	.attendancestatus td:nth-of-type(7):before { content: "PM"; }

	/**report-end**/

	

		.custom-reports td:nth-of-type(1):before { content: "No"; }

	.custom-reports td:nth-of-type(2):before { content: "Type"; }

	.custom-reports td:nth-of-type(3):before { content: "Amount Due"; }

	.custom-reports td:nth-of-type(4):before { content: "Amount Paid"; }

	.custom-reports td:nth-of-type(5):before { content: "Outstanding"; }

	



	.familyconfig td:nth-of-type(1):before { content: "No"; }

	.familyconfig td:nth-of-type(2):before { content: "Family Name"; }

	.familyconfig td:nth-of-type(3):before { content: "Children in the Family"; }

	.familyconfig td:nth-of-type(4):before { content: "Family Composition"; }

	.familyconfig td:nth-of-type(5):before { content: ""; }

	

.staff td:nth-of-type(1):before { content: "No"; }

	.staff td:nth-of-type(2):before { content: "Username"; }

	.staff td:nth-of-type(3):before { content: "First Name"; }

	.staff td:nth-of-type(4):before { content: "Last Name"; }

	.staff td:nth-of-type(5):before { content: "Role At School"; }

	.staff td:nth-of-type(6):before { content: "Rank"; }

	.staff td:nth-of-type(7):before { content: "Last Login"; }

	

	

	

	.students td:nth-of-type(1):before { content: "No"; }

	.students td:nth-of-type(2):before { content: "Full Name"; }

	.students td:nth-of-type(3):before { content: "Branch"; }

	.students td:nth-of-type(4):before { content: "Class/Group"; }

	.students td:nth-of-type(5):before { content: "E-mail"; }

	.students td:nth-of-type(6):before { content: "Phone"; }

	.students td:nth-of-type(7):before { content: "Status"; }

	.students td:nth-of-type(8):before { content: "Action"; }

	/*.students td:nth-of-type(9):before { content: "Status Bar"; }*/

	

	

	

	.communication td:nth-of-type(1):before { content: "Title"; }

	.communication td:nth-of-type(2):before { content: "Date"; }

	.communication td:nth-of-type(3):before { content: "Status"; }

	.communication td:nth-of-type(4):before { content: "Actions"; }
	
	
	
	
	.modifyattendance td:nth-of-type(1):before { content: "No"; }

	.modifyattendance td:nth-of-type(2):before { content: "First Name"; }

	.modifyattendance td:nth-of-type(3):before { content: "Last Name"; }

	.modifyattendance td:nth-of-type(4):before { content: "Status"; }
	
	.modifyattendance td:nth-of-type(5):before { content: "Note"; }
	.modifyattendance td:nth-of-type(6):before { content: "Other attendance today"; }
	.modifyattendance td:nth-of-type(7):before { content: "Copy"; }
	
	
	
	
	.archives td:nth-of-type(1):before { content: "No"; }

	.archives td:nth-of-type(2):before { content: "Students in this Lesson"; }

	.archives td:nth-of-type(3):before { content: "View"; }

	.archives td:nth-of-type(4):before { content: "Tutor Group"; }
	
	.archives td:nth-of-type(5):before { content: "View"; }

    
	
	.totalsec td:nth-of-type(1):before { content: ""; }

	.totalsec td:nth-of-type(2):before { content: "Present"; }

	.totalsec td:nth-of-type(3):before { content: "Late"; }

	.totalsec td:nth-of-type(4):before { content: "Auth Absent"; }
	
	.totalsec td:nth-of-type(5):before { content: "Unauth Absent"; }
	
	.totalsec td:nth-of-type(6):before { content: "Total Sessions"; }
	
	
		.reportarchives td:nth-of-type(1):before { content: "No"; }

	.reportarchives td:nth-of-type(2):before { content: "Year Group"; }

	.reportarchives td:nth-of-type(3):before { content: "Actions"; }
	
	
		.configtable1 td:nth-of-type(1):before { content: "No"; }

	.configtable1 td:nth-of-type(2):before { content: "Lessons"; }
	
	
	
		.configtable2 td:nth-of-type(1):before { content: "No"; }

	.configtable2 td:nth-of-type(2):before { content: "Lockal Backups"; }
	.configtable2 td:nth-of-type(3):before { content: ""; }




}