<span style='color: #000'>541 frames</span>	<span style='color: #900'>27,392 KB</span>	<span style='color: #090'>1,435.29 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />