@charset "utf-8";
/* CSS Document */

.registersection {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #dfe3e9;
    border-radius: 5px;
    margin: 80px auto;
    width: 920px;
}
.loginformarea.registerformarea {
    padding-top: 30px;
}

.registerformblk {
    float: none;
    margin: 50px auto;
    width: 520px;
}
.registerformblk .checkbox input{height:auto;}
 input[type=checkbox]{background:#000;}
.registerform .checkbox input[type="checkbox"]{ margin-left: -24px;margin-top: 14px;position: absolute;}
.registerform .checkbox{padding-left:14px;}
.registerform .checkbox {padding: 0;}
.checkbox.checkboxarea{padding:0 24px;}
.registerformblk .checkbox span::before,.registerformblk .checkbox span::after {content: '';position: absolute;top: 0;bottom: 0;margin: auto;}
/* Check-boxes */
.registerformblk span.checkbox::before {width: 15px;height: 15px;background: -webkit-linear-gradient(#f1f3f7, #ffffff);background: -o-linear-gradient(#f1f3f7, #ffffff);background: -moz-linear-gradient(#f1f3f7, #ffffff);background: linear-gradient(#f1f3f7, #ffffff);left:-25px;box-sizing: border-box;border: 1px solid #ced0da;transition: border-color .2s;border-radius:3px;}
.checkbox.checkboxarea > label{padding-left:0px;}
.registerformblk span.checkbox::after {content: '\f00c';font-family: 'FontAwesome';left: -24px;border-radius:3px;top: 0px;color: transparent;transition: color .2s;}
input[type="checkbox"]:checked + label span.checkbox::after {color: #fff;background:rgba(0, 0, 0, 0) linear-gradient(#39b54a, #33aa44) repeat scroll 0 0;border:1px solid #249533;width:18px;}
.registerform-content {
    padding-bottom: 80px;
}
.loginlinks .login-link{color:#35ad45;}
.register-links .loginlinks {
    float: left;
    text-align: center;
    width: 100% !important;
}
.registerformblk .form-control {
    background: #f8fafc none repeat scroll 0 0;
    border: 1px solid #e0e2e6;
    box-shadow: none;
}
@media (max-width:991px) {
.registersection{width:100%;}	
	
}
@media (max-width:767px) {
.registerformblk{width:100%;}	
}