@charset "utf-8";

/* CSS Document */



@media (min-width:1450px) and (max-width:1920px) {

.stepbar .steps-progress{margin:0px 125px;}	

}

@media (max-width:1400px) {

.statusbtn {

    font-size: 11px;

    padding: 6px 3px;

}

.progressindicator > span{font-size:12px;}	

}
@media (max-width:1280px) {
.actionicons {padding: 20px 10px;}	
.checkboxes{padding:0px 12px 0px 15px;}
}
@media (max-width:1199px) {	

s-progress{margin:0px 65px;}	

.actionbtn .quickaction{padding:5px 32px 5px 7px;}

.actionbtn .activequickaction{padding:5px 32px 5px 7px;}
.editprofileform.enrollmentprofileform{width:100%;}
}

@media (min-width:992px) and (max-width:1199px) {

.fullwidthinput label{font-size:12px;}	

.generatereport input {

    font-size: 10px !important;

    padding: 7px 0;

    width: 100%;

}

.applycodediv{padding:0px;}

.rightspace a{font-size:11px;}

.profile-bg.filterbox{padding:20px 8px 15px;}

.dashboardright > li{padding:0 5px;}

	.statusbtn {

    font-size: 9px;padding:6px 1px;

}
.imgsec img{padding:0px 5px 0px 0px;}
.tablewrapper .familydata td i{margin:0 3px 0 0;}
.actionicons {
    padding-left: 10px;
}
.tablewrapper .headings th{font-size:12px;padding:0px 1px;}
.tablewrapper .familydata td{font-size:12px;}
.table-bordered.table-striped .familydata{padding: 8px 5px;}
.headings{padding:3px 5px;}
.totalstu{padding:2px 9px;}
.fulldiv{width:100%;}
}

@media (min-width:768px) and (max-width:991px) {

.filterdiv .tabfilterhalf{width:50%;}

.filterdiv .tabfilterfull{width:100%; margin-top: 15px;}	

.viewreport{padding:0px;width:50%;}

.termsearch{padding:0px 6px;}

.viewreport a{font-size:11px;}

.headerright{width:100%;}

.detailright h1{font-size:20px;}

.dashboardright{float:left;width:100%;padding:9px 15px;}

.headerleft{float:left;width:100%;}

.actionbtn .quickaction{font-size:11px;padding:5px 32px 5px 2px;}

.actionbtn .activequickaction{font-size:11px;padding:5px 32px 5px 2px;}

.attendancesec{float:left;width:100%;}

.editprofile-content .attendancesec img {width: 100%;padding:5px 0;}
.fullwidsec{width:100%;padding:0px;margin-top:10px;}
.statusbtn{padding:6px 3px;font-size:10px;}

.dashboardright > li{padding:0 5px;}

	.statusbtn {

    font-size: 9px;padding:6px 1px;

}

.tablewrapper .familydata td i{font-size:12px;margin:0px 2px 0px 0px;}
.imgsec img {
    height: auto;
    width: 100%;
}
.actionicons {
    padding: 20px 15px;
}
.fullwidthinput select{  font-size: 11px;}
.inputbox.termselect {
    padding: 0 1px;
}
.filterlabel {
    width: 35px;
}
.selectfilter{width:calc(100% - 35px);}
.selectoption{width:100%;}
.termsearch{width:50%;}
.paginationblk{width:50%;}
.totaldiv {width:50%;}
.paginationselbox{width:50%;}
.profile-bg.filterbox{padding:20px 15px 6px;}
.totaldiv h3{font-size:12px;}
.halfwidsec{float:left;width:50%;}
.resselectfil {
    float: left;
    width: 33%;
}
.selectfilter.datetext{width:auto;}
.filterdiv .applycodediv{padding:0px 5px;}
.onethirdfilter{width:33%;padding:0px 4px;}
.topspacing{padding-top:10px;}
}
@media (min-width:991px){

.column1{width:5%;float:left;}

.column2{width:10%;float:left;}

.column3{width:15%;float:left;}

.column4{width:20%;float:left;}		

.column5{width:25%;float:left;}

.column6{width:30%;float:left;}

.column7{width:35%;float:left;}

.column8{width:40%;float:left;}

.column9{width:45%;float:left;}

.column10{width:50%;float:left;}

.column11{width:55%;float:left;}

.column12{width:60%;float:left;}

.column13{width:65%;float:left;}

.column14{width:70%;float:left;}

.column15{width:75%;float:left;}

.column16{width:85%;float:left;}

.column17{width:95%;float:left;}

.blankblk{display:none;}
.table-bordered.table-striped .familydata.attendancestatus {
    padding: 0 20px;
}
.table-bordered.table-striped .familydata.attendancestatus td{padding:8px 0px;}
}
@media (max-width:991px) {

.editprofileform{width:100%;}	

.cancelconfirm{width:100%;}

.stepbar .steps-progress{margin:0px 45px;}	

.profile-bg.filterbox{padding:20px 10px 20px !important;}

.applycodediv{padding:15px 0px;}

.editprofile-content{padding:0px 8px;}

.viewsdiv{display:flex;flex-flow:column-reverse;float:left;width:100%;}

.statusbtn{padding:6px 8px;}
.resviewbtn{text-align:center;margin-top:10px;}
.statusblk .form-group select {
    width: 120px;
}
.familydata td {
    padding-top: 10px;
}
}

@media (min-width:768px) {

.navbar-toggler{display:none;}

}

@media (max-width:767px) {

.detailleft{width:100%;}	

.detailright{width:100%;}

.editprofileform{width:100%;}	

.cancelconfirm{width:100%;}

.dashboardright{float:left;}

.dashboardright > li{float:left;}

.searchbar .form-group {float: left;}

.searchbar{float:left;}

.dashboardright > li{padding:0 14px}

.searchbar .submitbtn{margin:7px 0px;}

.dashboard-listing{min-height:auto;}

.inputbox{padding:0px;}

.sidebar-footer{position:relative;}

.detailleft{position:relative;}

.sidebardiv{min-height:auto;}

.profilemenus li{padding:0px 4px;}

.profilemenus a{font-size:14px;}

.editprofile-content{padding:0px 5px;}

.editprofile-content .tab-content h1{font-size:20px;}

.activelink img{margin-right:4px;}

.activelink h2{font-size:13px;}

.profile-bg.filterbox{padding:0 6px 15px;}

.statusdiv{padding:0px;}

.todayattendancediv{padding:0px;}

.prfltitlediv {float:left;width:100%;}

.todayattendancediv{float:left;width:100%;}

.todayattendancediv img{width:100%;}

.tablerightdiv{margin-top:10px;padding:0px;}

.selectoption{float:left;width:100%;}

.termsearch{padding:0px;}

.viewreport{padding:0px;margin-top:10px;}

.reporttitle{float:none;}

.rightspace {padding:0px;}

.leftspace {padding:0px;}

.reportblock{margin-bottom:10px;}

.legendsec{width:100%;}

.reportsec{width:50%;margin-bottom:10px;}

.socialicons {

    float: left;

    width: 100%;

}

.slideblk{float:left;width:100%;}

.weatherinfoblk{width:100%;}

.statusdiv{width:100%;}

.table-bordered.table-striped .borderright{border-right:0px;}

.attendancesec{width:100%;}

.imgsec img{width:100%;height:auto;}

.spacing {

    padding: 6px 0;

}

.behaviourstatus {

    float: left;

    width: 100%;

}

.dashboardtit{float:left;width:100%;}

.testimonialtitdiv{float:left;width:100%;}

.graph img{width:100%;height:auto;}

.studentsec{width:100%;}

.selectoption{float:left;width:auto;margin-top:0px;}

.viewreport{padding:0px 4px;}

.dashboardright .dropdown-menu li{float:left;width:100%;}

.communicationicons .folderdropdown{ position: relative;top: 7px;left:0px;}

.socialicon{margin:10px 0;}

.processcompleted .weatherinfo {padding: 20px 0;}

.dashboardright .profilepic{padding:0px;}

.attendancesec .paginationdiv .pagination img { padding: 5px 4px;width: 100%;}

.viewreport{margin:0px;}
.resviewbtn {margin-top: 10px; text-align: center;}
.totaldiv h3{text-align:left;}
.datepickdiv {float: left;width: 100%;}
.attendencerightdiv{width:100%;padding-top: 10px;}
.actionbtn{text-align:left;}
.mobfullwidth{width:100%;}
.lessonsdetail{float:left;width:100%;}
}

@media (max-width:640px) {

.stepbar .steps-progress{margin:0px 55px;}	
.attendancesec .paginationdiv .pagination img{padding:5px 0px;}
}
@media (min-width:481px) and (max-width:767px) {
.dashboardright .dropdown.userdropdown {padding: 10px 14px;}	
.attendancesec img {float: left;width: 49%;}
.mobhalffilter{width:50%;padding:0 8px;float:left;}
.mobfullfilter{width:100%;}
.onethirdfilter{width:33%;padding:0px 4px;}
.topspacing{padding-top:10px;}
}

@media (max-width:480px) {

.loginsection{width:100%;}

.copyright > p{font-size:13px;}

.loginlinks a{font-size:13px;}

.detailright{width:100%;}

.editprofileform{padding:0 10px;}

.stepbar .steps-progress{margin:0px 30px;}

.checkboxdiv .checkbox{font-size:13px;}

.applycodediv{padding:15px 0 0;}

.reportsec{width:100%;margin-bottom:10px;}

.tablewrapper .familydata td{font-size:13px;}

.searchbarbox{width:100%;}

.searchbar{width:100%;}

.searchbar .submitbtn{float:right;}

.counter{position:relative;top:-8px;}

.dashboardright .dropdown a{float:left;padding:11px 15px;}

.dashboardright .dropdown-menu{left:-27px;padding:0 23px;}

.actionbtn .quickaction{width:100%;padding:5px 28px 5px 3px;font-size:12px;}

.actionbtn .activequickaction{width:100%;padding:5px 28px 5px 3px;font-size:12px;}

.contentsec{float:left;width:100%;padding:0px;}

.testimonialtitdiv h1{font-size:17px;}

.inputbox.termselect{float:left;width:100%;margin-bottom:10px;}

.fullwidthinput label.filterlabel{width:100%;text-align:left;}

.selectoption{float:left;width:100%;margin-top:0px;}

.viewreport{padding:0px 4px;}

.filterdiv .selectfilter{width:100%;margin-bottom:10px;padding:10px 0;}

.processcompleted .weatherinfo{padding:20px 0px;}

.dashboardright .dropdown {padding: 0;}
.paginationblk{width:100%;}

.totaldiv{width:100%;}
.table-bordered.table-striped .familydata{padding:8px 5px;}
.paginationselbox{justify-content: start;}
.totalstudent{text-align:center;}
.halffilter{width:50% !important;}
.fullfilter{width:100% !important;}
.selectfilter.autofilter {padding:0px;}
.autofilter{width:auto !important;}
.topspacing{padding-top:10px;}
.accdetailheading h1{font-size:20px;}
.filterdiv .selectfilter{ margin-bottom: 2px;padding: 0;}
.tablediv h1{padding:25px 7px;}
}

@media (max-width:414px) {

.revealbtn{padding-left:0px;padding-right:0px;}

.reporticons i{margin:0px 0px 0px 1px;}	

.reporticons img{margin:0px 0px 0px 1px;}	

.socialicon {float: left;width: 100%;}

.termsearch{width:40%;}
.applycodediv .viewreport input {
    font-size: 11px;
    padding: 6px 3px;
}
}

@media (max-width:360px) {

.revealbtn input {font-size: 13px;padding: 0 4px;}

.revealinputbox{padding:0px;}

.stepbar .steps-progress{margin:0px 20px;}	

.termsearch {float: left;padding: 0;width: 100px;}	

.weatherblk{width:100%;}
}

@media (max-width:320px) {

.editprofile-content .tab-content h1{font-size:14px;}

}





